body {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

h1,h2,h3,h4,h5,h6{
  color:#424b5c;
}
.navbar{
  padding: 0;
  min-height: 20px
}

h1 {
  font-size: 38.5px;
  font-weight: bold;
}

.navbar .container, .mainHeader .container, .container {
  width:940px!important;

}
.zf-green {
  color: #68b604;
}

#leftBarIndex ul{
  padding: 0;
}

input#find{
  padding: 4px 6px;
  margin-bottom:10px;

}


.navbar .navbar-nav > .active > a {
  background-color: #f8f8f8;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: #e5e5e5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
  color: #555;
  text-decoration: none;
}
.navbar .nav > li > a {
  color: #777;
  float: none;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
  background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
  margin-left: 0;
  padding: 8px 20px 12px 40px;
}

.navbar-toggle{
  color:#fff;
  cursor: pointer;
}
.sprite,.spriteW { background-repeat: no-repeat;width:16px;height: 16px;}
.sprite{ background:url("/assets/images/glyphicons-halflings.png"); }
.spriteW{ background:url("/assets/images/glyphicons-halflings-white.png");}


.add_photo{
  background-position:-120px -45px;
}
.marker{
  background-position:-20px -70px;
}

#maincitysearch{
  background:#ffffff url("../img/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position:-470px -66px;
  margin-left: -200px;
  padding-left: 30px;
  width:200px;
}

.ins_file_text{
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px dashed #A6B9DE;
  background-color: #fff;

  position:relative;

}
.ins_file_text:hover{
  background-color: #E9E9E9;
}

.ins_file_text div{
  cursor: pointer;
}

.ins_file_text .sprite{
  position: absolute;
  top:40%;
  left:42%;
  cursor: pointer;

}
.div_for_img_forms{
  height:120px;text-align:center;

}

.bradNone{
  -webkit-border-radius:0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.brad5{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btrad5{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btrad10{
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.brad10{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.blrad10{
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bbrad10{
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.brad15{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}




button{
  height: 30px;
}

#searchButton,.searchButton,#mysearchButton{

  width: 100px;

}
#searchButton div.sprite,#mysearchButton div.sprite,.searchButton div.sprite{
  background-position:-46px 2px;
}

.spr_red{   background-position:-0px -70px;}
.spr_socupd{    background-position:-241px -21px;}
.spr_hide{    background-position:-23px -93px;}
.spr_show{    background-position:-0px -93px;}
.spr_korzina{    background-position:-455px 1px;}
.spr_spravka{    background-position:-120px -95px;}
.spr_letter{    background-position:-72px 2px;}
.spr_ads{    background-position:-24px -45px;}
.spr_add{background-position:-406px -93px;}
.spr_stat{    background-position:-405px 0px;}
.spr_logout{    background-position:-383px 2px;}
.spr_star{ background-position:-122px 2px;}
.spr_star_sel{ background-position:-146px 2px;}
.spr_basket{ background-position:-360px -117px;}
.spr_category{background-position:-408px -117px;}
.spr_category_close{background-position:-385px -117px;}
.spr_down{background-position:-385px -117px;}
.spr_up{background-position:-290px -95px;}

.spr_views{ background-position:-95px -119px;}
.spr_views_tel{ background-position:-360px -117px;}


.bold{font-weight: bold;}

.toTop,.toTop:hover{
  color:#000;
}

#addAd, #basket_count, .promoteAd {background-color: #FCFF3E;font-weight: bold;}
#addAd:hover, #basket_count:hover, .promoteAd:hover {background-color:#FFFFB6;}

.promoteAd{
  width:110px;
  padding:4px 10px;
  border:1px solid #ccc;

}

.cascade_list{
  z-index:1030;
  margin-bottom: 5px;
}

.cascade_list ul,.cascade_list ul{
  padding: 0;
  margin:0;
  text-align: left;
  z-index:1030;
}


.cascade_list ul li a{
  text-decoration: none;
  text-align: left;

}

.cascade_list ul li a:hover{
  text-decoration: underline;
  text-align: left;

}

.cascade_list ul li{
  display:inline;
  position:relative;
  padding:  5px;

}
.cascade_list ul li ul li{
  display:block;
  padding: 2px 5px;

}
.cascade_list ul ul,.cascade_list .caschild{
  display:none;
  position: absolute;
  padding: 5px 5px;
  background-color: #fff;
  border: 1px solid #ccc;

  width:160px;
}

#view_images_cont{


}
#view_images_cont img{
  margin: 5px;
  cursor: pointer;
}
#view_images_cont .minImg{
  width:100px;
  height:100px;
}

#maincity{
  height: 12px;
  margin: 0;
  width: 100px;
  display: none;
}

.ui-widget-content{
  z-index: 9999;
}



#editImages img{
  margin: 10px 0;
}



#editForm label span{
  padding-top: 5px;
  text-align: right;
  float: left;
  width: 200px;
}

#editForm label input,#editForm label textarea,#editForm label select{
  margin-left: 20px;

}
.addeditForm label input,.addeditForm label textarea,.addeditForm label select{
  width:350px;
}

#editForm #submitbutton{
  margin-left: 220px;
  padding: 5px 15px;
}

.search_price{
  width: 100px;
}

/* HOME */
#homeCat{height:400px;clear:both;margin-top: 20px;}
#homeCat ul{
  margin: 0;
  padding: 0;
  list-style: none;
  width:280px;
  word-wrap:break-word;
}
#homeCat ul li{
  display:inline;
  line-height: 20px;
}

/* INDEX */

.search_img{
  width: 100px;height: 100px;position: relative;
}

.search_opis{
  width: 470px;
  padding-left: 10px;
}
.search_opis div,.search_opis div a, span.colSer {
  color: #7f7f7f;
}

#pageNator{
  padding-top: 20px;
  text-align: center;
}

#pageNator a{
  border:1px solid #90BECF;

  padding: 6px 10px;
  margin: 0 5px;
  text-decoration: none;

}



#pageNator a:hover{
  border:1px solid #000000;
  color:#000;
}

footer{
  text-align: center;
}

#homeCat ul{
  margin-right: 30px;
}

#homeCat ul li{
  line-height: 15px;
  font-size: 12px;
}

#homeCat ul h4{
  margin : 15px 10px 5px 0;


}

#search_dop_par{}

#search_dop_par input,#search_dop_par select{ width:75px; z-index:1001;margin: 0;}
#search_dop_par label{margin-bottom: 20px;}

#leftBarIndex{  width:200px;min-height: 400px;margin-top: 10px;}

#indexContent,#myContent{margin-left: 5px;border-left: 1px solid #eeeeee;padding-left: 5px;}

.indexPrice{
  width:45px;
}
select.indexPrice{
  width:65px;
}
.NavLinks{margin-top: 5px;color:#7f7f7f;}
.NavLinks a{color:#7f7f7f;font-size: 12px;}



.home{background-position:-0px -21px;}

/* HOME */

.mainHeader{
  background-color: #f6f5f3;
}

a.big_a{
  font-size: 28px;
}
#searchBlock{
  margin-top: 10px;padding:20px 20px 0 20px;border: 1px solid #ccc;background-color: #E9E9E9;
}
.countryli{
  margin-right: 70px;

}
.navbar .nav .countryli a{
  height: 30px; padding:15px 30px 10px;
}

/*VIEW*/

#centerContainer{
  padding-left: 10px;
  width:500px;
}

.customViewParams{
  width:200px;
  margin: 10px 0px;
}
.customViewParams span{}
.mainContainer{
  word-wrap: break-word;
}
.mainContainer pre{
  border: none;
  background: none;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  overflow-wrap: normal;  /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: normal;
  word-break: normal;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */

}
#rightBar{ width:200px;}
.viewPrice{
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border: 2px solid #ccc;
  background-color: #E9E9E9;
}
.viewContact{
  border: 2px solid #ccc;
  margin-top: 10px;
  padding: 5px;
}
#rightBar h2{
  font-size: 15px;
  margin: 0;
}
.phone{background-position:-117px -93px;}


#viewDescr, #viewDescr pre{
  line-height: 25px;
}

#sendAuthor{
  width: 450px;border:1px solid #ccc;background-color: #f3f3f3;
}
#sendAuthor textarea {
  width: 400px;height: 50px;
}
/*MY*/
.myMenu{margin: 0;}
.myMenu li{
  list-style: none;
  border:1px solid #ccc;
  padding: 10px 5px;
  background-color: #f8f8f8;
}
.myMenu li:hover{
  background-color: #e5e5e5;
}
.myMenu li ul li{
  border:none;
  padding: 0;
  background:none;
}
#myContent{margin-left: 20px;}



/*STATUS*/
.statusMSG{margin: 20px 10px;background-color: #C4F4FA;padding:20px;list-style: none;font-size: 16px;}
.statusMSGedit{margin: 10px 5px;background-color: #C4F4FA;padding:10px 20px;list-style: none;font-size: 16px;width: 400px;}
.statusMSG li{}

.fL{float:left;}
.fR{float:right;}
.cB{clear:both;}
.cL{clear:left;}
.cR{clear:right;}

.cP{cursor: pointer;}
.hidden{display: none;}
.visNone{visibility: hidden;}

.fs10{font-size: 10px;}
.fs11{font-size: 11px;}
.fs12{font-size: 12px;}
.fs13{font-size: 13px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}
.fs17{font-size: 17px;}
.fs18{font-size: 18px;}
.fs24{font-size: 24px;}
.fs35{font-size: 35px;}
.mar0{margin: 0;}
.mart0{margin-top: 0;}
.bg0{background: none;}

.tdec1{text-decoration: underline !important;}
a.tdec0,.tdec0 a{text-decoration: none;}
ul li.bb0{border-bottom: none;}

.search_objavl{
  position: relative;
  padding-left:10px;
}

#for_top .search_objavl{
  padding-left:5px;
}

#for_top{
  position:relative;
  border:1px dashed #ccc;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin: 0 0px;
  margin-bottom: 20px;
}

.but_top_select {
  font-size: 10px;
  position: absolute;
  top: -20px;
  right: 0;
  padding: 2px;
}
.but_top, .but_top_select {
  background-color: #c83158;
  color: #fff;
  font-weight: bold;
  padding: 0px 2px;
  margin-right: 5px;
  font-size: 11px;
}

.but_quick, h4 .but_quick {
  background-color: #c83158;
  color: #fff;
  font-weight: bold;
  float: left;
  padding: 2px 5px;
  margin-right: 5px;
  font-size: 12px;
}


.mark_ad {
  background-color: #fff7c5;
  margin-left: 5px;
  padding-left: 5px;
  border-left: 2px solid #ccc;
}

#for_top .mark_ad{
  margin-left: 0px;
}

.type_form_div{
  border: 1px solid #ccc;
  padding:10px;
  text-align: center;
  margin-right:15px;
  width:150px;
  cursor: pointer;

}
a.type_form_div{
  text-decoration: none;
  color:#405378;
}
.type_form_div .type_form{
  display:none;
}
.type_form_div:hover, .type_form_div.check{
  background-color: #FCF8C4;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

// injector
// endinjector
